main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
    background-color: #f5f7f8;
}

// HEADER

.header__nav {
	display: flex;
    background-color: $nav-background-color;
    opacity: 0.5;
    height: 80px;
    padding: 0 40px;

    ul {
    	display: flex;
	    justify-content: center;
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    align-items: center;
    }

	.header__nav__right {
		form {
			width: 250px;
		}
		input {
			border-radius: 10px;
		    height: 25px;
		    width: 250px;
		    border: none;

		    &:hover, &:focus {
		    	border: 1px solid #3b9cc7;
		    	outline: none;
		    	box-shadow: 0 0 0 2px #3b9cc7;
		    }
		}
	}

	.header__nav__left {
		flex: 2;
	}

	li {
		margin: 0 1rem;
	}

	a {
		text-decoration: none;
		color: #000;
		font-weight: bold;
		letter-spacing: 0.1em;
		font-size: 16px;

		&:hover {
			color: #696969;
		}

	}
}

// SUB HEADER

.header__sub {
    display: flex;
    justify-content: center;
    padding: 15px 25px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    .header__sub__ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 0.8rem;
        li {
            display: inline-block;
            margin: 0 5px;
        }
    }
}

// MAIN CONTENT

.main__content {

}

.main__content__form__page{

    margin: 20px auto 10px;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: $primary-color;
    }

    form {
        width: 100%;
        button {
            width: 100%;
        }
        .main__content__form__page__remember {
            margin: 5px 0;
            label {
                font-size: 13px;
            }
        }
        a {
            color: #333;
            font-size: 13px;
        }
    }
}


