body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

input[type=text], input[type=email], input[type=password] {
  height: 30px;
  width: 97.5%;
  border-radius: 3px;
  margin: 5px 0;
  padding: 10px 0 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  outline: none;
  opacity: 0.8;
}
input[type=text]:hover, input[type=text]:active, input[type=text]:visited, input[type=text]:focus, input[type=email]:hover, input[type=email]:active, input[type=email]:visited, input[type=email]:focus, input[type=password]:hover, input[type=password]:active, input[type=password]:visited, input[type=password]:focus {
  outline: none;
  border: 1px solid #8bc0d3;
}

button {
  width: 250px;
  border: none;
  height: 45px;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  margin: 5px 0;
}
button:hover, button:active, button:visited, button:focus {
  border: none;
}

.card {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.btn__p {
  background-color: #8bc0d3;
  color: #FFF;
  font-weight: bold;
}
.btn__p:hover, .btn__p:active, .btn__p:visited, .btn__p:focus {
  background: linear-gradient(to right bottom, #79b6cc, #4496b4);
}

.alert__text {
  font-size: 13px;
  margin: 5px 0;
}

.alert__text__error {
  color: #ff2d20;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #f5f7f8;
}

.header__nav {
  display: flex;
  background-color: #CED9DE;
  opacity: 0.5;
  height: 80px;
  padding: 0 40px;
}
.header__nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}
.header__nav .header__nav__right form {
  width: 250px;
}
.header__nav .header__nav__right input {
  border-radius: 10px;
  height: 25px;
  width: 250px;
  border: none;
}
.header__nav .header__nav__right input:hover, .header__nav .header__nav__right input:focus {
  border: 1px solid #3b9cc7;
  outline: none;
  box-shadow: 0 0 0 2px #3b9cc7;
}
.header__nav .header__nav__left {
  flex: 2;
}
.header__nav li {
  margin: 0 1rem;
}
.header__nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 16px;
}
.header__nav a:hover {
  color: #696969;
}

.header__sub {
  display: flex;
  justify-content: center;
  padding: 15px 25px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
}
.header__sub .header__sub__ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}
.header__sub .header__sub__ul li {
  display: inline-block;
  margin: 0 5px;
}

.main__content__form__page {
  margin: 20px auto 10px;
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__content__form__page h1 {
  color: #8bc0d3;
}
.main__content__form__page form {
  width: 100%;
}
.main__content__form__page form button {
  width: 100%;
}
.main__content__form__page form .main__content__form__page__remember {
  margin: 5px 0;
}
.main__content__form__page form .main__content__form__page__remember label {
  font-size: 13px;
}
.main__content__form__page form a {
  color: #333;
  font-size: 13px;
}
